$color-text: #000000;
$background: #cccccc;

$color-text2: #a90000;
$color-text3: #fb4343;

$button_color: #a90000;
$button_color2: #fb4343;

$laptop-l-width: 1440px;
$small-laptop-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 475px;
$mobile-small-width: 375px;
