.footer {
  &__wrapper {
    height: 45px;
    background: #f5e2e2;
  }
  &__container {
    margin: 60px 70px 60px 70px;
    height: 100%;
    @include mobile-big {
      margin: 60px 0px 60px 0px;
    }
  }
  &__text-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text1 {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  &__text2 {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #4b0202;
  }
}
