@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=PT+Sans+Caption&family=Righteous&family=Roboto:wght@400;500;700;900&family=Scada:wght@400;700&display=swap");
html {
  font-size: 10px;
  line-height: 10px;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  margin: 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 103px;
}
@media (max-width: 475px) {
  .header__wrapper {
    flex-direction: column;
  }
}
.header__logo-img {
  width: 225px;
  height: 52px;
}
@media (max-width: 768px) {
  .header__logo-img {
    display: none;
  }
}
.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 7px 19px;
}
@media (max-width: 1024px) {
  .header__search {
    display: none;
  }
}
.header__search-text {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #a90000;
}
.header__search-icon {
  width: 21px;
  height: 21px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 9px 19px;
}
.header__nav-link {
  color: #a90000;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.header__login-icon {
  width: 19px;
  height: 19px;
}
.header__login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.header__border {
  width: 0px;
  height: 27px;
  border: 1px solid rgba(210, 210, 210, 0.53);
  margin: 0;
  padding: 0;
}
.header__login-icon {
  width: 19px;
  height: 19px;
}
.header__login-text {
  color: #a90000;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.header__login-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header__lang-icon {
  width: 30px;
  height: 30px;
}
.header__login-icon {
  width: 14px;
  height: 14px;
}
.header__button {
  border: 0;
  width: 152px;
  height: 38px;
  background-color: #a90000;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #ffffff;
}
.header__button:hover {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__button {
    display: none;
  }
}

.main__big-search {
  background-image: url(../img/frame_5.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 386px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .main__big-search {
    display: none;
  }
}
.main__big-search-content {
  margin-left: 90px;
}
.main__content-small-text {
  font-family: "Scada";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: white;
}
.main__content-big-text {
  font-family: "Scada";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.8rem;
  color: white;
  margin-bottom: 32px;
}
.main__content-search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 654px;
  height: 54px;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 9px;
}
.main__content-search-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 554px;
  height: 46px;
  border-radius: 9px 0px 0px 9px;
  background-color: white;
}
.main__content-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.main__link-icon {
  width: 9px;
  height: 9px;
}
.main__border {
  width: 0px;
  height: 45px;
  border: 1px solid #eeeeee;
}
.main__content-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  width: 92px;
  height: 46px;
  background-color: #a90000;
  border-radius: 0px 9px 9px 0px;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: white;
}
.main__properties {
  display: flex;
  flex-direction: column;
  background-color: #fff3f3;
}
.main__properties-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 142px;
}
@media (max-width: 475px) {
  .main__properties-text {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}
.main__properties-text-container {
  margin-left: 90px;
}
@media (max-width: 475px) {
  .main__properties-text-container {
    margin-left: 0px;
  }
}
.main__properties-text-small {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.main__properties-text-big {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.main__properties-buttons {
  display: flex;
  gap: 2px;
  margin-right: 98px;
}
@media (max-width: 475px) {
  .main__properties-buttons {
    margin-right: 0px;
  }
}
.main__properties-button {
  border: 0;
  height: 28px;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.main__properties-button:hover {
  cursor: pointer;
}
.main__properties-card-container {
  padding: 0px 70px 0px 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 768px) {
  .main__properties-card-container {
    padding: 0;
    justify-content: center;
  }
}
.main__properties-card {
  width: 414px;
  height: 495px;
  background-color: #ffffff;
  border-radius: 15px 15px 0px 0px;
}
.main__card-img {
  background-image: url(../img/rectangle_13.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 263px;
}
.main__card-buttons {
  padding: 23px 55px 0 13px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.main__card-button {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5px;
}
.main__card-button2 {
  border: 0;
  height: 18px;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.1rem;
  border-radius: 1px;
}
.main__card-button1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.main__card-button1-cont {
  background-color: white;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__card-button1-img {
  width: 20px;
  height: 20px;
}
.main__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 55px 0 13px;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  color: white;
}
.main__card-footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main__card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 29px 23px 0 23px;
}
.main__card-text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.main__card-text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #fb4343;
}
.main__card-text3 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #424141;
}
.main__card-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.main__card-icon {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
}
.main__card-icon-img {
  width: 26px;
  height: 26px;
}
.main__card-icon-text {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.main__card-footer3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__card-border {
  width: 100%;
  height: 0px;
  border: #dfdcdc 1px solid;
  margin-top: 5px;
}
.main__card-footer-img {
  width: 27px;
  height: 27px;
}
.main__card-footer-text {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #828282;
}
.main__card-footer-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.main__card-footer-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 22px;
}
.main__card-footer-star {
  width: 15px;
  height: 15px;
}
.main__button {
  border: 0;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.4rem;
  width: 184px;
  height: 40px;
  border-radius: 3px;
  margin-top: 34px;
  margin-left: 70px;
  margin-bottom: 85px;
}

.red {
  background-color: #a90000;
  color: #ffffff;
}

.red2 {
  background-color: #fb4343;
  color: #ffffff;
}

.white {
  background-color: white;
  color: #656565;
}

@media (max-width: 475px) {
  .maincont1__wrapper {
    display: none;
  }
}
.maincont1__container {
  padding: 43px 70px 78px 70px;
}
.maincont1__text-headers {
  display: flex;
  flex-direction: column;
}
.maincont1__text-header-1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.8rem;
  color: #5e4e4e;
}
.maincont1__text-header-2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #b10202;
}
.maincont1__content-blok {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  gap: 50px;
}
@media (max-width: 1024px) {
  .maincont1__content-blok {
    flex-direction: column;
    gap: 30px;
  }
}
.maincont1__content-blok-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}
@media (max-width: 1024px) {
  .maincont1__content-blok-left {
    width: 80%;
  }
}
.maincont1__content-blok-right {
  width: 60%;
}
@media (max-width: 1024px) {
  .maincont1__content-blok-right {
    width: 80%;
  }
}
.maincont1__content-blok-element {
  display: flex;
  align-items: center;
  gap: 18px;
}
.maincont1__content-blok-element-button {
  background-color: #a90000;
  min-width: 100px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincont1__content-blok-element-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.maincont1__content-blok-element-text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
}
.maincont1__content-blok-element-text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.maincont1__content-blok-right-img {
  background-image: url(../img/rectangle_58.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 362px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.maincont1__content-blok-right-content {
  width: 270px;
  height: 190px;
  background: rgba(180, 31, 31, 0.83);
  border-radius: 7px;
  margin: 11px;
  display: flex;
  flex-direction: column;
}
.maincont1__content-blok-right-content-text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: white;
  margin: 25px 22px 25px 21px;
}
.maincont1__content-blok-right-content-text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: white;
  margin: 0 0 0 21px;
}
.maincont1__content-blok-right-content-text3 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #faff00;
  margin: 0 0 0 21px;
}

.maincont2__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.maincont2__img1 {
  background-color: #a90000;
  width: 25%;
  height: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .maincont2__img1 {
    width: 33.3%;
  }
}
@media (max-width: 768px) {
  .maincont2__img1 {
    width: 50%;
  }
}
.maincont2__text1 {
  width: 90%;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  color: white;
}
.maincont2__text2 {
  width: 90%;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: white;
}
.maincont2__img2 {
  background-image: url(../img/rectangle_63.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 525px;
}
@media (max-width: 1024px) {
  .maincont2__img2 {
    width: 33.3%;
  }
}
@media (max-width: 768px) {
  .maincont2__img2 {
    width: 50%;
  }
}
.maincont2__img3 {
  background-image: url(../img/rectangle_64.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 525px;
}
@media (max-width: 1024px) {
  .maincont2__img3 {
    width: 33.3%;
  }
}
@media (max-width: 768px) {
  .maincont2__img3 {
    display: none;
    width: 50%;
  }
}
.maincont2__img4 {
  background-image: url(../img/rectangle_65.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 525px;
}
@media (max-width: 1024px) {
  .maincont2__img4 {
    display: none;
  }
}

.maincont3__container {
  background-image: url(../img/Rectangle\ 94.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 231px;
  margin: 53px 70px 53px 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .maincont3__container {
    flex-direction: column;
    align-items: start;
    gap: 30px;
    justify-content: center;
  }
}
@media (max-width: 475px) {
  .maincont3__container {
    margin: 20px 0px 20px 0px;
  }
}
.maincont3__text-cont {
  width: 50%;
  margin-left: 30px;
}
@media (max-width: 1024px) {
  .maincont3__text-cont {
    margin-left: 30px;
    width: 80%;
  }
}
@media (max-width: 475px) {
  .maincont3__text-cont {
    width: 80%;
  }
}
.maincont3__text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 2.9rem;
  line-height: 3.6rem;
}
.maincont3__text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #9e0000;
}
.maincont3__search {
  width: 50%;
  margin-right: 30px;
  height: 57px;
  background: #ffffff;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .maincont3__search {
    margin-left: 30px;
    width: 80%;
  }
}
@media (max-width: 475px) {
  .maincont3__search {
    width: 80%;
  }
}
.maincont3__search-text {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #a90000;
  margin-left: 31px;
}
.maincont3__button-search {
  background-color: #a90000;
  width: 122px;
  height: 35px;
  border-radius: 6px;
  border: 0;
  color: white;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-right: 11px;
}

.contacts__contanier {
  margin: 60px 70px 60px 70px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contacts__contanier {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.contacts__blok1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
@media (max-width: 1024px) {
  .contacts__blok1 {
    display: none;
    width: 50%;
  }
}
.contacts__blok1-text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: #565151;
}
.contacts__blok1-text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.contacts__blok2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 12px;
}
@media (max-width: 1024px) {
  .contacts__blok2 {
    display: none;
  }
}
.contacts__blok2-text-cont {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.contacts__blok2-text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 3.4rem;
  color: #a90000;
}
.contacts__blok2-text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.contacts__blok3 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
@media (max-width: 1024px) {
  .contacts__blok3 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .contacts__blok3 {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.contacts__blok3-cont {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contacts__blok3-text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  color: #a90000;
}
.contacts__blok3-text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.contacts__blok3-social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts__blok3-social-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 5px;
  background-color: #a90000;
}
.contacts__blok4 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 26px;
}
@media (max-width: 1024px) {
  .contacts__blok4 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .contacts__blok4 {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.contacts__blok4-text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 3.4rem;
  color: #a90000;
}
.contacts__blok4-text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4rem;
  width: 80%;
}
.contacts__blok4-button {
  width: 80%;
  height: 3.5rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #a90000;
  border-radius: 5px;
  color: white;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.footer__wrapper {
  height: 45px;
  background: #f5e2e2;
}
.footer__container {
  margin: 60px 70px 60px 70px;
  height: 100%;
}
@media (max-width: 475px) {
  .footer__container {
    margin: 60px 0px 60px 0px;
  }
}
.footer__text-cont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text1 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.footer__text2 {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #4b0202;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(131, 100, 100, 0.83);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-220%);
  transition: all 0.5s;
}
.login__wrapper {
  width: 100%;
}
.login__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 557px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  overflow: hidden;
}
.login__form {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  flex-direction: column;
}
.login__blok1 {
  width: 40%;
  height: 100%;
  background-image: url(../img/logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
@media (max-width: 768px) {
  .login__blok1 {
    display: none;
  }
}
.login__blok2 {
  width: 60%;
  height: 100%;
  background-color: #615c5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .login__blok2 {
    width: 100%;
  }
}
.login__form {
  width: 80%;
}
.login__escape-cont {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.login__escape:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.login__text {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #ffffff;
}
.login__button {
  width: 136px;
  height: 53px;
  border: 0;
  color: white;
  border-radius: 6px;
  background-color: #a90000;
}
.login__button:hover {
  cursor: pointer;
}
.login__img {
  width: 50px;
  height: 50px;
  border-right: 1px solid #b8b2b2;
}
.login__inp {
  width: 90%;
  height: 90%;
  border: 0;
  border-radius: 7px;
  font-size: 2.8rem;
  outline: none;
}
.login__password, .login__adres {
  width: 100%;
  height: 53px;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
}
.login__checkbox {
  width: 20px;
  height: 20px;
}
.login__checkbox:hover {
  cursor: pointer;
}
.login__lost-pass {
  width: 100%;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */